<!--Aca se puede agregar mas cosas en el componente-->
<h1>{{titulo}}</h1>
<h2>{{year}}</h2>
<p>{{comentario}}</p>
<hr>
<h2>Practica de creacion de componentes en Angular</h2>
<p>En este ejercicio, se practica la creacion de nuevos componentes</p>
<p>con nuevos ficheros, para la aplicacion web</p>
<p style="font-style: italic ;">El problema de este metodo es que puede ser repetitivo, </p>
<p style="font-style: italic ;">por lo que se usan comandos en la consola de la app </p>
<p style="font-style:italic; ">El nuevo component generado por consola</p>
<p style="font-style:italic; ">es "peliculas"</p>
<h3>Este es un parrafo de prueba con la nueva estructura</h3>
<p>La ventaja de separar del component el template en html es que</p>
<p>puedo trabajar sin mezclar la logica de JS con el HTML</p>
<p>Es decir, separo el componente de logica JS del componente de la vista
    en html</p>
<hr>